<!-- FOOTER_COMPONENT: This file is the single source of truth for the site footer.
     Run sync_footer.py to propagate changes to all pages. -->
<div class="shopify-section shopify-section-group-footer-group shopify-section-footer"
  id="shopify-section-sections--17981471883486__footer">
  <style data-shopify="">
    #shopify-section-sections--17981471883486__footer {
      --gradient-background: #ffffff;
      --color-background: 255, 255, 255;
      --color-foreground: 33, 35, 38;
      --color-link: 33, 35, 38;
      --color-border: 26, 27, 24;
      --color-heading: 40, 40, 40;
    }
  </style>
  <link href="__ASSET_BASE__cdn/shop/t/21/assets/section-footer.css%3Fv=72545908198441784381721491003.css" media="all"
    rel="stylesheet" type="text/css">
  <link href="__ASSET_BASE__cdn/shop/t/21/assets/component-newsletter.css%3Fv=19745187667507529331721491003.css"
    media="print" onload="this.media='all'" rel="stylesheet" />
  <link href="__ASSET_BASE__cdn/shop/t/21/assets/component-accordion.css%3Fv=5234466532213842031721491003.css"
    media="print" onload="this.media='all'" rel="stylesheet" />
  <link href="__ASSET_BASE__cdn/shop/t/21/assets/component-list-payment.css%3Fv=90190534466538419181721491003.css"
    media="print" onload="this.media='all'" rel="stylesheet" />
  <link href="__ASSET_BASE__cdn/shop/t/21/assets/component-list-social.css%3Fv=71494611815837440191721491003.css"
    media="print" onload="this.media='all'" rel="stylesheet" />
  <link href="__ASSET_BASE__cdn/shop/t/21/assets/component-rte.css%3Fv=102114663036358899191721491003.css" media="print"
    onload="this.media='all'" rel="stylesheet" />
  <script defer="defer"
    src="__ASSET_BASE__cdn/shop/t/21/assets/footer-accordion.js%3Fv=61102387610248778321721491003"></script>
  <footer class="footer footer--border-top">
    <div class="footer__content-top page-width">
      <div class="grid">
        <div class="grid__item footer__content-left footer__content-left--alt">
          <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet"><footer-accordion
              class="accordion footer-block grid__item footer-block--menu">
              <details open="">
                <summary tabindex="-1">
                  <p class="h4 accordion__title">Information</p>
                  <svg aria-hidden="true" class="icon icon-caret" fill="none" focusable="false" viewbox="0 0 24 15"
                    xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                      d="M12 15c-.3 0-.6-.1-.8-.4l-11-13C-.2 1.2-.1.5.3.2c.4-.4 1.1-.3 1.4.1L12 12.5 22.2.4c.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4l-11 13c-.1.2-.4.3-.7.3z"
                      fill="currentColor" fill-rule="evenodd"></path>
                  </svg>
                </summary>
                <ul class="footer-block__details-content list-unstyled">
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Terms of Service
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Privacy Policy
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Order Policy
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Shipping Policy
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Return Policy
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Warranty Policy
                    </a>
                  </li>
                </ul>
              </details>
            </footer-accordion><footer-accordion class="accordion footer-block grid__item footer-block--menu">
              <details open="">
                <summary tabindex="-1">
                  <p class="h4 accordion__title">Explore</p>
                  <svg aria-hidden="true" class="icon icon-caret" fill="none" focusable="false" viewbox="0 0 24 15"
                    xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                      d="M12 15c-.3 0-.6-.1-.8-.4l-11-13C-.2 1.2-.1.5.3.2c.4-.4 1.1-.3 1.4.1L12 12.5 22.2.4c.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4l-11 13c-.1.2-.4.3-.7.3z"
                      fill="currentColor" fill-rule="evenodd"></path>
                  </svg>
                </summary>
                <ul class="footer-block__details-content list-unstyled">
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Business Solutions
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Team
                    </a>
                  </li>
                </ul>
              </details>
            </footer-accordion><footer-accordion class="accordion footer-block grid__item footer-block--menu">
              <details open="">
                <summary tabindex="-1">
                  <p class="h4 accordion__title">More</p>
                  <svg aria-hidden="true" class="icon icon-caret" fill="none" focusable="false" viewbox="0 0 24 15"
                    xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                      d="M12 15c-.3 0-.6-.1-.8-.4l-11-13C-.2 1.2-.1.5.3.2c.4-.4 1.1-.3 1.4.1L12 12.5 22.2.4c.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4l-11 13c-.1.2-.4.3-.7.3z"
                      fill="currentColor" fill-rule="evenodd"></path>
                  </svg>
                </summary>
                <ul class="footer-block__details-content list-unstyled">
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      My Account
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      My Cart
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="__CONTACT_URL__">
                      Contact Us
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      FAQ's
                    </a>
                  </li>
                  <li>
                    <a class="link list-menu__item list-menu__item--link" href="#">
                      Brands
                    </a>
                  </li>
                </ul>
              </details>
            </footer-accordion></div>
        </div>
        <div class="grid__item footer__content-right">
          <div class="grid">
            <div class="grid__item small-hide">
              <div></div>
            </div>
            <div class="grid__item"><footer-accordion class="accordion footer-block--newsletter" data-open="">
                <details open="">
                  <summary tabindex="-1">
                    <p class="h4 accordion__title">Exclusive benefits</p>
                    <svg aria-hidden="true" class="icon icon-caret" fill="none" focusable="false" viewbox="0 0 24 15"
                      xmlns="http://www.w3.org/2000/svg">
                      <path clip-rule="evenodd"
                        d="M12 15c-.3 0-.6-.1-.8-.4l-11-13C-.2 1.2-.1.5.3.2c.4-.4 1.1-.3 1.4.1L12 12.5 22.2.4c.4-.4 1-.5 1.4-.1.4.4.5 1 .1 1.4l-11 13c-.1.2-.4.3-.7.3z"
                        fill="currentColor" fill-rule="evenodd"></path>
                    </svg>
                  </summary>
                  <div class="footer-block__details-content">
                    <div class="footer-block__newsletter">
                      <form accept-charset="UTF-8" action="#" class="footer__newsletter newsletter-form"
                        id="ContactFooter" method="post">
                        <div class="field">
                          <input aria-required="true" autocapitalize="off" autocomplete="email" autocorrect="off"
                            class="field__input required" id="ContactFooter-email" name="contact[email]"
                            placeholder="Enter email here" required="" type="email" value="" />
                          <label class="visually-hidden" for="ContactFooter-email">Enter email here</label>
                          <button aria-label="Subscribe" class="button button--arrow field__button animate-arrow"
                            name="commit" type="submit">
                            <svg aria-hidden="true" class="icon icon-arrow" fill="none" focusable="false"
                              viewbox="0 0 14 10" xmlns="http://www.w3.org/2000/svg">
                              <path clip-rule="evenodd"
                                d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z"
                                fill="currentColor" fill-rule="evenodd"></path>
                            </svg>
                          </button>
                        </div>
                        <div class="typeset rte">
                          <p>Apply for our free membership to receive exclusive deals, news, and events.</p>
                        </div>
                      </form>
                    </div>
                    <p class="h4 accordion__title">Follow us</p>
                    <ul class="footer__list-social list-unstyled list-social" role="list">
                      <li class="list-social__item">
                        <a class="list-social__link link link--text link-with-icon" href="#" rel="noopener"
                          target="_blank">
                          <svg aria-hidden="true" class="icon icon-facebook" focusable="false" viewbox="0 0 320 512">
                            <path
                              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                              fill="currentColor"></path>
                          </svg>
                          <span class="visually-hidden">Facebook</span>
                        </a>
                      </li>
                      <li class="list-social__item">
                        <a class="list-social__link link link--text link-with-icon" href="#" rel="noopener"
                          target="_blank">
                          <svg aria-hidden="true" class="icon icon-instagram" focusable="false" viewbox="0 0 448 512">
                            <path
                              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                              fill="currentColor"></path>
                          </svg>
                          <span class="visually-hidden">Instagram</span>
                        </a>
                      </li>
                      <li class="list-social__item--placeholder">Follow us on social media!</li>
                    </ul>
                  </div>
                </details>
              </footer-accordion></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__content-bottom">
      <div class="footer__content-bottom-wrapper page-width">
        <div class="footer__column footer__column--info">
          <div class="footer__copyright">
            <small class="copyright__content">© 2022, <a href="__HOME_URL__" title="">Xclusive Moon General
                Trading</a>. All
              rights reserved.</small>
            <ul class="policies list-unstyled">
              <li><small class="copyright__content"><a href="#" rel="nofollow" target="_blank">
                  </a></small></li>
              <li><small class="copyright__content"><a href="#">Refund
                    policy</a></small></li>
              <li><small class="copyright__content"><a href="#">Privacy policy</a></small></li>
              <li><small class="copyright__content"><a href="#">Terms of service</a></small></li>
              <li><small class="copyright__content"><a href="#">Shipping policy</a></small></li>
            </ul>
          </div>
        </div>
        <div class="footer__column footer__column--extra">
          <div class="footer__localization"></div>
          <div class="footer__payment">
            <span class="visually-hidden">Payment methods</span>
            <ul class="list list-payment" role="list"></ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>